$comparison-cards-container: 690px;
$content-container-padding-lr: 64px;
$summary-mr: 70px;
$summary-width: 420px;
$sail-blue-900: #131F41;
$gray-900: #042235;
$gray-500: #697386;
$gray-100: #e3e8ee;
$gray-50: #f7fafc;

.Article {
  //   min-height: 698px;
  padding: 3rem 0;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 2rem;

    @media (min-width: 992px) {
      margin: 0 64px;
      padding: 0;
      width: 100%;
    }
    @media (min-width: 767px) {
      padding: 0;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }

  &__user,
  &__date,
  &__time {
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__date {
    margin: 0;
  }

  &__time {
    margin-left: 1rem;
  }

  //   Banner
  &__banner {
    background-color: $gray-500;
    height: 468px;
    margin: 1.5rem 0;
    // height: 100%;
    max-width: 700px;
    width: 100%;
  }


  // Social Icon 
  &__Socials__wrapper {
    position: fixed;
    // left: 20px;
    top: 33%;
    width: 178px;
  }

  &__Socials {
    border-bottom: 1px solid $gray-100;
    padding: 1rem 0;
  }

  &__social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }

  &__SocialMediaLink {
    color: $gray-500;
    transition: .5s;

    &:hover {
      color: $sail-blue-900;
    }
  }

  &__Socials h3 {
    color: $gray-500;
    font-size: 14px;
    line-height: 1.5;
  }

  &__likes {
    display: flex;
    align-items: center;
    padding: 1rem 0;

     p {
      color: $gray-500;
      font-size: 14px;
      margin-bottom: unset;
      margin-left: 1rem;
    }
  }
  
  &__likes__thumbsUp {
    color: $gray-500;
  }
}
